/* Reset */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    padding: 20px 0;
    text-align: center;
}

.header-logo {
    width: 200px;
    height: auto;
    cursor: pointer;
}

/* Container */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Search */
#search-container {
    text-align: center;
    margin: 20px 0;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #805a3e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #684832;
}

#results {
    margin-top: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* Responsive */
@media (max-width: 600px) {
    header,
    footer {
        padding: 10px 0;
    }

    .container {
        width: 95%;
    }

    #search-input {
        width: 80%;
    }

    #search-button {
        padding: 10px;
    }

    .header-logo {
        width: 150px;
    }

    .header-title {
        font-size: 20px;
    }
}

/* Similar artists */
.similar-artist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: space-between;
}

.similar-artist {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    border: 2px solid #ffd700; 
}

.similar-artist::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #ffdb58, #ffd700);
    z-index: -1;
    transition: transform 0.3s ease;
}

.similar-artist:hover::before {
    transform: scale(1.5);
}

.similar-artist:hover {
    background-color: #ffcc00;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-color: #ffb347;
}

.similar-artist:nth-child(odd) {
    border-color: #d4af37;
}

.similar-artist:nth-child(odd)::before {
    background: linear-gradient(45deg, #ffd700, #ffdf00);
}

.similar-artist:nth-child(even) {
    border-color: #e5c100;
}

.similar-artist:nth-child(even)::before {
    background: linear-gradient(45deg, #ffd700, #ffa500);
}

/* Albums */
.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album {
    position: relative;
    margin-bottom: 10px;
    padding: 50px 50px; 
    overflow: hidden;
}

.album-name {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


.album-image-1 {
    position: relative;
    width: 300px;
    transform: translate(+300px);
    height: auto;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out 0.1s;
    z-index: 2;
}

.album-image-2 {
    position: absolute;
    width: 12%; 
    border-radius: 60%;
    left: 40%; 
    top: 30%; 
    z-index: 1;
    opacity: 0;
    animation: spin 5s linear infinite;
}

.album:hover .album-image-1 {
    transform: scale(1.1) translateX(+70px);
    left: +10px;
}

.album:hover .album-image-2 {
    opacity: 1;
}

.album p {
    text-align: center;
}

.album:hover::before {
    content: '';
    position: absolute;
    top: 8%;
    left: 30%;
    width: 325px;
    height: 325px;
    background: url('https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Vinyl_Record_PNG_Transparent_Clipart.png?m=1642584753') center no-repeat; /* Vinyyli */
    background-size: contain;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 1s;
    opacity: 0;
    animation: spin 5s linear infinite, moveRight 0.3s ease-in-out, grow 0.3s ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moveRight {
    from {
        top: 100px;
        left: 400px;
    }
}

@keyframes grow {
    from {
        width: 1px;
        height: 1px;
    }
    to {
        width: 325px;
        height: 325px;
    }
}

.album:hover::before {
    opacity: 1;
}

.album:hover .tracks {
    opacity: 1;
    display: block;
}

.tracks {
    position: absolute;
    top: 8%;
    left: 63%;
    width: 250px;
    height: 331px;
    background-color: rgba(65, 65, 65, 0.8);
    color: #ffffff;
    z-index: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    display: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
    padding: 0;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

button:focus {
    outline: none;
}

#prev-btn,
#next-btn {
    width: 90px;
    height: 90px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.5); 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    position: absolute;
    top: calc(50% - 80px);
}

#prev-btn {
    left: -0px; 
}

#next-btn {
    right: -0px;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#prev-btn:active,
#next-btn:active {
    background-color: rgba(0, 0, 0, 0.2);
}

#prev-btn:focus,
#next-btn:focus {
    outline: none;
}

#prev-btn:hover svg,
#next-btn:hover svg {
    fill: #000;
}

#prev-btn:active svg,
#next-btn:active svg {
    fill: #111;
}

#prev-btn:focus svg,
#next-btn:focus svg {
    fill: #333;
}

