body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-container {
    text-align: center;
    margin: 20px 0;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #4cae4c;
}

#results {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

@media (max-width: 600px) {
    header, footer {
        padding: 10px 0;
    }

    .container {
        width: 95%;
    }

    #search-input {
        width: 80%;
    }

    #search-button {
        padding: 10px;
    }
}

.header-title {
    cursor: pointer; 
    margin: 0; 
    padding: 10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    background: none;
    border: none;
}

.album-container, .similar-artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.similar-artist {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    cursor: pointer; 
}

.album img, {
    max-width: 100%;
    height: auto;
}

.top-tracks-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.similar-artist {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer;
}


